@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
.full-center {
    @apply flex items-center justify-center;
}

.bg-authheader {
    @apply bg-gradient-to-r from-[#BC8764] to-80% to-[#333333];
}
.bg-authmain {
    @apply md:bg-gradient-to-r bg-gradient-to-b md:to-85% from-[#a2643B] to-black;
    color: black;
}
.p-carousel {
    @apply h-[55vh] flex flex-col;
}

.p-carousel-content-container {
    @apply h-[55vh] flex flex-col flex-1;
}

.p-carousel-content {
    @apply flex-1 flex flex-col h-[55vh];
}

.p-carousel-item-list {
    @apply flex-1 h-[52.5vh];
}

.p-carousel-item {
    @apply h-[55vh];
}

.p-carousel-item img {
    @apply  w-full object-cover;
}

.p-carousel-indicator-button {
    @apply rounded-full w-11 h-3 bg-graywhite;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
    @apply bg-orange-500;
}

.p-carousel-indicator-list {
    @apply absolute bottom-4 left-0 right-0 z-10;
}




/* Carousel Styles */
.carousel-container {
    @apply w-full h-[52.5vh] relative;
}


.p-carousel-indicators {
    @apply absolute bottom-4 left-0 right-0 z-20;
}

.carousel-slide {
    @apply relative w-full h-full  overflow-hidden;
}


.carousel-content {
    @apply absolute inset-0 flex  flex-col justify-center items-center text-center text-white p-4 z-10;
}

/* Carousel styles */
.p-carousel,
.p-carousel-container,
.p-carousel-content,
.p-carousel-items-content,
.p-carousel-items-container,
.p-carousel-item {
    height: 100% !important;
}

.p-carousel-item > div {
    position: relative;
}

.p-carousel-indicators {
    position: absolute !important;
    bottom: 1rem !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 20 !important;
}

.p-carousel-indicator-button {
    @apply rounded-full w-11 h-3 bg-graywhite;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
    @apply bg-orange-500;
}

.p-button{
    @apply border-none;
}
.p-inputtext{
    @apply text-black
}